_build/
api/

deploy_version.py
# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Python virtual environments
venv/
env/
*.pyc
*.pyo
__pycache__/

# Compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Compiled Python modules
__pycache__/
*.py[cod]

# Logs and databases
*.log
*.sqlite3

# Dependency management
pip-lock.txt
pipenv.lock
Pipfile.lock
poetry.lock

# Environment variables
.env
.env.local
.env.*.local

# Local development configuration
.env.development
.env.test
.env.production

# IDE/Editor settings
*.swp
*.swo
*.swn
*~
*.bak


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

src/prokbert/dev_notebooks/dev_tokenizer.ipynb
